{% extends appropriate_layout %}

{% block page_title %}
Sign in
{% endblock %}

<!-- Notes: I've put m-2 almost everywhere in form fields to make things separate and beautiful -->
{% block main %}
<!-- main content. Inside this there a two columns both of which are cards for extra customisability -->
<!-- custom style here -->
  <div class="container p-4 pt-sm-5">
    <div class="row align-items-center justify-content-evenly">
      <!-- some description -->
      <div class="col card bg-black text-white" style="min-height: 500px;">
        <div class="card-body">
          <h2 class="card-title">Welcome back</h2>
          Forever Learning!
        </div>
        <img class="card-img w-50 m-3 mb-4" src="../../static/pustakalaya_data/branding/book_symbol.png">
      </div>

      <!-- custom style below -->
      <div class="col-lg-4"> 
        <form action="/login" method="POST" class="vstack gap-2">
          <div class="text-center">
            <h1>Sign in</h1>
          </div>  
          <div class="form-floating">
            <input class="form-control" id="username" name="user_name" placeholder="username" type="text" required>
            <label class="form-label" for="username">Username</label>
          </div>
          
          <div class="form-floating">
            <input class="form-control" type="password" placeholder="Password" id="pwd" name="password" required>
            <label class="form-label" for="pwd">Password</label>
          </div>
            
          <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
          <span>Don't have an Account? <a href="/register">Sign up</a></span>
        </form>
        {% include 'includes/general/simple_flash_message.html' %}
      </div>

    </div>
  </div>
{% endblock %}  
